.messageBox {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    z-index: 1000;
    width: calc(100% - 40px);
    max-width: var(--form-max-width);
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--form-bg);
    padding: 8px 12px;
    border-radius: var(--form-radius);
    border: var(--form-border);
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.messageBox:focus-within {
    border-color: var(--form-btn-bg);
}

.fileUploadWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.fileUploadWrapper label {
    cursor: pointer;
    display: flex;
    align-items: center;
}

#file {
    display: none;
}

.tooltip {
    position: absolute;
    top: -40px;
    display: none;
    opacity: 0;
    color: white;
    font-size: 10px;
    white-space: nowrap;
    background-color: #000;
    padding: 6px 10px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.596);
    transition: all 0.3s;
}

.fileUploadWrapper:hover .tooltip {
    display: block;
    opacity: 0.8;
}

#messageInput {
    flex: 1;
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--form-input-color);
    font-size: 1rem;
    padding-left: 8px;
}

#messageInput:focus ~ #sendButton svg path,
#messageInput:valid ~ #sendButton svg path {
    fill: #3c3c3c;
    stroke: white;
}

#sendButton {
    background-color: transparent;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
}

#sendButton svg {
    height: 18px;
    transition: all 0.3s;
}

#sendButton:hover svg path {
    fill: #3c3c3c;
    stroke: white;
}
