.atlas-form {
    size: fit-content;
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 10000;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    padding: 10px;
    background: #40414f;
    border-radius: 7px;
    margin-bottom: 25px;
}

#prompt {
    flex: 1;
    padding: 12px;
    border: 1px solid #353740;
    border-radius: 6px;
    font-size: 1.1rem;
    background: #343541;
    color: #ececf1;
}

button[type="submit"] {
    padding: 0 22px;
    background: #19c37d;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: background 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

button[type="submit"]:hover {
    background: #13a06d;
}
