:root {
    --background-primary: #1e1e1e;
    --background-secondary: #2d2d2d;
    --background-tertiary: #3c3c3c;
    --text-primary: #e0e0e0;
    --text-secondary: #b0b0b0;
    --accent-primary: #4a90e2;
    --accent-primary-hover: #407cca;
    --border-color: #353740;
    --error-color: #e57373;

    --form-bg: var(--background-secondary);
    --form-radius: 12px;
    --form-padding: 10px;
    --form-gap: 10px;
    --form-max-width: 800px;
    --form-border: 1px solid var(--border-color);
    --form-input-bg: var(--background-secondary);
    --form-input-color: var(--text-primary);
    --form-btn-bg: var(--accent-primary);
    --form-btn-bg-hover: var(--accent-primary-hover);
    --form-btn-color: #fff;
    --form-btn-radius: 8px;
}
